/* https://www.w3schools.com/css/css_navbar.asp */

.praktikumid {
    list-style-type: none;
    margin: 60px auto;
    padding: 0;
    width: 50%;        
}

.praktikumid li {
    border-bottom: 1px solid #000;
}

.praktikumid li:last-child {
    border-bottom: none;
}

.praktikumid li a{
    display: block;
    color: black;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}

.praktikumid li a:hover{
    background-color: black;
    color: white;
}