body {
	margin : 0px;
	padding: 0px;
    background-color: black;
}

.container {
	box-shadow: 0 0 25px 18px rgba(255, 255, 255, 1);
	/*max-width: 1000px; */
	margin: 0 10% 0 10%;
	padding: 0px;
	overflow: auto;
    z-index: -1;
    text-align: justify;
    min-height: 2160px;
    background-color: white;
}

.sisu{
	padding: 60px 20px;
}

