/*target*/
.main{
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 200px;
    right: 200px;
}

.sub{
    border-radius: 50%;
    position: absolute;
}

.sub:nth-child(1){
    height: 100%;
    width: 100%;
    background: white;
    box-shadow: 0 0 0 2px #000;
    
}

.sub:nth-child(2){
    height: 85%;
    width: 85%;
    background: red;
    left: 7.5%;
    top: 7.5%;
    box-shadow: 0 0 0 1px #000;
}

.sub:nth-child(3){
    height: 70%;
    width: 70%;
    background: white;
    left: 15%;
    top: 15%;
    box-shadow: 0 0 0 1px #000;
}

.sub:nth-child(4){
    height: 55%;
    width: 55%;
    background: red;
    left: 22.5%;
    top: 22.5%;
    box-shadow: 0 0 0 1px #000;
}

.sub:nth-child(5){
    height: 40%;
    width: 40%;
    background: white;
    left: 30%;
    top: 30%;
    box-shadow: 0 0 0 1px #000;
}

.sub:nth-child(6){
    height: 25%;
    width: 25%;
    background: red;
    left: 37.5%;
    top: 37.5%;
    box-shadow: 0 0 0 1px #000;
}

.taust{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/*target*/
/*abakus*/
.bead{
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border-radius: 50%;
    box-shadow: 0px -11px 23px -3px black inset;
    margin-top: -25px;
    text-align: center;
}

.row{
    clear: both;
    border: 2px solid black;
    margin-top: 50px;
}

.raam{
    border: 5px solid black;
    padding-bottom: 50px;
}

.left{
    float: left;
}

.right{
    float: right;
}
/*abakus*/

body > a{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}